# Database (Render avtomatik qo'shadi DATABASE_URL)
# DATABASE_URL=postgresql://user:password@host/dbname

# Django settings
DEBUG=False
SECRET_KEY=your-secret-key-here-change-in-production

# Render domain
ALLOWED_HOSTS=localhost,127.0.0.1,*.onrender.com

# CSRF
CSRF_TRUSTED_ORIGINS=https://*.onrender.com
